<form class="createBurger-form col-12">

      <div>
        <label class="label" for="burger">Burger Name:</label>
        <input type="text" id="burgerName" name="name" class="input" required>
      </div>

      <div>
        <label class="label" for="burger">Burger Ingredients:</label>
        <input type="text" id="burgerIngreds" name="Ingredients" class="input" required>
      </div>

      <button class="btn-xl btn-outline-primary" type="submit ">Add Burger</button>

</form>
