
<div class="row">


<form class="createBurger-form col-12">


      <div class="row">
        <label class="label col-3 offset-1" for="burger"><h3>Burger Name:</h3></label>
        <input type="text" id="burgerName" name="name" class="input col-3 offset-3" required>
      </div>

      <div class="row">
        <label class="label col-3 offset-1" for="burger"><h3>Burger Ingredients:</h3></label>
        <input type="text" id="burgerIngreds" name="Ingredients" class="input col-3 offset-3" required>
      </div>

      <button class="pulsate-fwd btn-xl btn-outline-primary col-3 offset-7" id="submit" type="submit ">Add Burger</button>

</form>
</div>
