

<div class="container">
    <div class="row">
        <div class="col-12">

<img id="img-header" class="img-fluid" src="/assets/img/header.jpeg">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand offset-2" href="#"><h1>Burger-Me Bros</h1></a>
    <ul id="links" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#devour">Devour <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#devoured">Devoured</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#savorites">Savorites</a>
      </li>
    </ul>
  </div>
</nav>

            
        </div>
    </div>
</div>
