<div class="container">

<div class="row">


<form class="createBurger-form col-12">

<h3 class="sectionName">Create a Burger!</h3 >

<div class="row">

{{>burger-create}}

</div>

</form>

</div>



{{!-- Burger to devour section --}}
  <div class="row">

    <div class="col-12">

      <h3 id="devour" class="sectionName1">Devour Burgers!</h3 >

      <div class="row">

        {{#each burgers}} {{#unless devoured}} {{>burger-block devoured=true}} {{/unless}} {{/each}}

      </div>

    </div>

  </div>

{{!-- Devoured Section --}}
<div class="row">

    <div class="col-12">

      <h3 id="devoured" class="sectionName2">Burgers Devoured!</h3>

      <div class="row">

        {{#each burgers}} 
        
        {{#if devoured}}

        {{>burger-devoured}}

        {{/if}} 
        
        {{/each}}

      </div>

    </div>

  </div>


{{!-- Favorties Section --}}
  <div class="row">

    <div class="col-12">

      <h1 id="savorites" class="sectionName" >Savorites</h1>

  <div class="row">

      {{#each burgers}} 
      
      {{#if favorite}}

      {{>burger-fav}}

      {{/if}} 
      
      {{/each}}

</div>
    </div>

  </div>

</div>