<div class="container">



{{>burger-create}}


{{!-- Burger to devour section --}}
  <div class="row">

    <div class="col-12">

      <h3 id="devour">Devour Burgers!</h3 >

      <ul>

        {{#each burgers}} {{#unless devoured}} {{>burger-block devoured=true}} {{/unless}} {{/each}}
      </ul>

    </div>

  </div>

{{!-- Devoured Section --}}
<div class="row">

    <div class="col-12">

      <h3 id="devoured">Burgers Devoured!</h3>

      <ul>

        {{#each burgers}} 
        
        {{#if devoured}}

        {{>burger-devoured}}

        {{/if}} 
        
        {{/each}}

      </ul>

    </div>

  </div>


{{!-- Favorties Section --}}
  <div class="row">

    <div class="col-12">

      <h1 id="savorites" >Favorites</h1>

      {{#each burgers}} 
      
      {{#if favorite}}

      {{>burger-fav}}

      {{/if}} 
      
      {{/each}}

    </div>

  </div>

</div>